@{
    ViewData["Title"] = "Zasady";
}
<h1>@ViewData["Title"]</h1>

<p>Jak dodawać wydatki?</p>
<p>1. Przejdź do Twoje wydatki</p>
<p>2. Wybierz Nowy wydatek</p>
<p>3. Podaj parametry</p>
<p>4. Zatwierdź poprzez przycisk Dodaj</p>
